<h1>Gracias por tu compra</h1>
<div class="contTotalTicket">
<div class="contTicket">
   
    <h2>Detalles del Ticket</h2>
    <p class="codigo"><strong>Código:</strong> {{ticket.code}}</p>
    <p><strong>Importe Total:</strong> ${{ticket.amount}}</p>
    <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
    <p><strong>Fecha y Hora de Compra:</strong> {{ticket.purchase_datetime}}</p>
</div>
<div class="ContBoton">
<a href="/products"> <button> Volver a Productos</button></a>
<a href="/api/carts"><button> Volver al Carrito </button></a>
</div>
</div>

