<h1>Restablecer contraseña</h1>
<div class="contTotal">
    <div class="contFormularioTotal">

        <div class="contFormularioTotal">
            <div>
                <h3>escriba su correo para restablecer la contrasela</h3>
                <form action="/api/sessions/forgot-password" method="POST" class="formulairioIngreso" id="productForm">
                    <input type="email" name="email" placeholder="email" required>

                    <button class="boton" type="submit">enviar correo</button>
                </form>
            </div>
            <a href="register">Registrarse</a>
        </div>
    </div>

</div>