<h1>Iniciar session</h1>

{{#if success_msg}}
    <p style="color: green;">{{success_msg}}</p>
{{/if}}
<div class="contTotal">
    <div class="contFormularioTotal">
        <div>
            <h3>Complete los datos para el registro</h3>
            <form action="/api/sessions/login" method="POST" class="formulairioIngreso" id="productForm">
                <input type="email" name="email" placeholder="email" required>
                <input type="text" name="password" placeholder="Contraseña" required>
                <button class="boton" type="submit">Iniciar sesion</button>
            </form>
        </div>
        <a href="register">Registrarse</a>
       
        <a href="reset-password">Olvide contraseña</a>
    </div>

</div>